.grid-start-1 {
    grid-column-start: 1;
}
.grid-start-2 {
    grid-column-start: 2;
}
.grid-start-3 {
    grid-column-start: 3;
}
.grid-start-4 {
    grid-column-start: 4;
}
.grid-start-5 {
    grid-column-start: 5;
}
.grid-start-6 {
    grid-column-start: 6;
}
.grid-start-7 {
    grid-column-start: 7;
}
.grid-start-8 {
    grid-column-start: 8;
}
.grid-start-9 {
    grid-column-start: 9;
}
.grid-start-10 {
    grid-column-start: 10;
}
.grid-start-11 {
    grid-column-start: 11;
}
.grid-start-12 {
    grid-column-start: 12;
}

.grid--1 {
    grid-column-end: 1;
}
.grid-end-2 {
    grid-column-end: 2;
}
.grid-end-3 {
    grid-column-end: 3;
}
.grid-end-4 {
    grid-column-end: 4;
}
.grid-end-5 {
    grid-column-end: 5;
}
.grid-end-6 {
    grid-column-end: 6;
}
.grid-end-7 {
    grid-column-end: 7;
}
.grid-end-8 {
    grid-column-end: 8;
}
.grid-end-9 {
    grid-column-end: 9;
}
.grid-end-10 {
    grid-column-end: 10;
}
.grid-end-11 {
    grid-column-end: 11;
}
.grid-end-12 {
    grid-column-end: 12;
}
.grid-end-13 {
    grid-column-end: 13;
}